body {
  background-color: #e5e5e5;
  padding-left: 132px;
  padding-top: 115px;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 70px;
  color:#000000;
}

.inputs-block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.inputs-item{
  margin-right: 40px;
  max-width: 255px;
}

.input-item-title {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

input {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: none;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 18px;
  width: 100%;
}

#add-word-btn {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: none;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  width: 141px;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transitiion: all .2s ease-in-out;
}

#add-word-btn:hover {
  background: rgba(255, 255, 255, 0.447);
}

h2 {
  margin: 0;
  margin-bottom: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color:#000;
}

table {
  width: 300px;
  position: relative;
}

.tr {
  position: relative;
}

.close {
  position: absolute;
  right: 22px;
  top: 11px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  }

  .close:hover {
  opacity: 1;
  }
  .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  }
  .close:before {
  transform: rotate(45deg);
  }
  .close:after {
  transform: rotate(-45deg);
  }

.eng-word {
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #000;
  flex: none;
  order: 0;
  align-self: center;
  margin: 40px 0px;
}

.rus-word {
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: rgb(185, 143, 143);
  flex: none;
  order: 0;
  align-self: center;
  margin: 40px 0px;
}

input.error {
  border: 3px solid red;
}